
*{
	-webkit-box-sizing: border_box;
	-mo-box-sizing: border_box;
	-webkit-box-sizing: border_box;
	box-sizing: border_box;
}

body{
	background-color: white;
	font-style: Times;
}

h1{
	text-align: center;
}

h2{
	color: white;
	text-align: left;
	padding-top: 1%;
}

h3{
	padding-top: 1%;
}

img{
	width: 250px;
	height: 250px;
	max-width: 100%;
	max-height: 100%;
	padding: 5px;
	margin-right: 50px;
}

div{
	padding-left: 1%;
	padding-right: 1%;
}

.section{
	background-color: rgb(9,53,91);
	padding-bottom: 1%;
	border-radius: 25px;
}

.pictures{
	display: flex;
	text-align: center; 
	margin-right: auto
	margin-left: auto;
	padding-left: 15%;
}

.section-title{
	text-align: left;
	font-weight: bold;
}

.section-concept{
	background-color: rgb(215,235,253);
	padding-bottom: 1%;
	border-radius: 10px;
}

.split-box{
	display: flex;
}

.text{
	width: 100%;
}

.boxmodel{
	width: 100px;
	height: 100px;
	padding-bottom: 1%;
}

.split-box-left{
	width: 1500px;
	border-style: dashed;
	border-width: 1px; 
	margin-right: 25px;
}

.split-box-right{
	width: 1500px;
	border-style: dashed;
	border-width: 1px; 
	margin-right: 25px;
}